h1 {
    text-align: center;
}
button {
  margin: auto;
  margin-bottom: 20px;
  display:block;
  padding: 20px
}
.container {
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
    height:600px;
    width: 600px;
    margin: auto;
}
.sqDiv {
    box-sizing: border-box;
}

