h1 {
    text-align: center;
}
button {
  margin: auto;
  margin-bottom: 20px;
  display:block;
  padding: 20px
}
.container {
    display: flex;
    flex-wrap: wrap;
    border: solid black 1px;
    height: 600px;
    width: 600px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 13px 14px 1px rgb(0 0 0 / 20%);
}
.tileDiv {
    box-sizing: border-box;
    border: 2px 
}

